html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2200px;
}

.all {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('images/background4.jpg') !important;
  background-size: cover;
  /* opacity: 60%; */
  background-attachment: fixed;
  font-family: 'Righteous', cursive;
  color: rgba(65, 65, 65, 0.746);
  font-weight: 400;
  font-size: 25px;
}

.contents {
  width: 1000px;
  height: 100%;
  margin: auto;
}

.name {
  width: 100%;
  height: 300px;
  position: relative;
  margin: auto;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

.name_head {
  width: 100%;
  height: 100px;
  color: white;
  font-size: 100px;
  text-align: center;
  letter-spacing: 18px;
  font-weight: 500;
  padding-top: 100px;
  padding-bottom: 20px;
}

.name_main {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 50px;
  text-align: center;
  letter-spacing: 9px;
  font-weight: 500;
}

.original {
  width: 1000px;
  height: 539px;
  position: relative;
  top: 40px;
}

.original_head {
  background-color: rgba(235, 235, 235, 0.61);
  width: 950px;
  height: 50px;
  text-align: left;
  margin: auto;
}

.original_head p {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}

#original_soundcloud {
  margin: auto;
  padding: 20px 25px 0 25px;
}

.remixandcover {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: row;
  padding: 0 25px 0 25px;
}

.remix {
  width: 450px;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

.remix_head {
  background-color: rgba(235, 235, 235, 0.61);
  height: 50px;
  text-align: left;
  margin: auto;
}

.remix_head p {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}

#remix_soundcloud {
  padding-top: 25px;
}

.cover {
  width: 450px;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

.cover_head {
  background-color: rgba(235, 235, 235, 0.61);
  height: 50px;
  text-align: left;
  margin: auto;
}

.cover_head p {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}

#cover_soundcloud {
  padding-top: 25px;
}

.videoandcontact {
  position: relative;
  top: 160px;
  display: flex;
  flex-direction: row;
  padding: 0 25px 0 25px;
}

.video {
  width: 450px;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

.video_head {
  background-color: rgba(235, 235, 235, 0.61);
  height: 50px;
  text-align: left;
  margin: auto;
}

.video_head p {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}

#video_youtube {
  padding-top: 25px;
}

.contact {
  width: 450px;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

.contact_head {
  background-color: rgba(235, 235, 235, 0.61);
  height: 50px;
  text-align: left;
  margin: auto;
}

.contact_head p {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}

#contact_soundcloud {
  padding-top: 25px;
}

.contact_main {
  margin-top: 25px;
  width: 450px;
  height: 315px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* display: inline-block; */
}

.contact_main_spotify {
  width: 50px;
  height: 50px;
  margin: 3px;
}

#spotify {
  width: 50px;
}

.contact_main_soundcloud {
  width: 50px;
  height: 50px;
  margin: 3px;
}

#soundcloud {
  width: 50px;
}

.contact_main_youtube {
  width: 50px;
  height: 50px;
  margin: 3px;
}

#youtube {
  width: 50px;
}

.contact_main_twitter {
  width: 50px;
  height: 50px;
  margin: 3px;
}

#twitter {
  width: 50px;
}

.contact_main_vimeo {
  width: 50px;
  height: 50px;
  margin: 3px;
}

#vimeo {
  width: 50px;
}

.contact_main_instagram {
  width: 50px;
  height: 50px;
  margin: 3px;
}

#instagram {
  width: 50px;
}

.contact_main_facebook {
  width: 50px;
  height: 50px;
  margin: 3px;
}

#facebook {
  width: 50px;
}

.contact_main_apple {
  width: 50px;
  height: 50px;
  margin: 3px;
}

#apple {
  width: 50px;
}
